@media (max-width: 1200px) {

    .header-menu .link{
        margin-right: 26px;
        font-size: 25px;
    }

    .menu-button{
        
        margin-left: 40px;
        font-size: 22px;
    }

    .head-banner-content{
       
        padding-right: 0;
       
   }

   .partners-title{
    margin: 50px 230px 50px 340px;
   }

   .partners-logos{
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 50px;
   }

   .patner{

        margin-top: 30px;
        align-items: center;
        flex-direction: column;
        width: 25%;
   }

    .response-wrapper{
        flex-direction: column;
    }

    .response-content{
        margin: 0;
    }

    #user-comment{
        margin-right: 0;
    }

    .response-author{
        margin: 20px 0;
        align-self: center;
    }
}

@media (max-width: 1000px) {
    .head-banner-image{
        display: none;
    }

}

@media (max-width: 900px){

    .head-banner-wrapper{
        padding: 50px 75px;
    }

    .head-banner-text{
        font-size: 35px;
      
    }

    .banner-button{
  
        font-size: 21px;
        width: 224px;
       
    }
    #user-comment{
        font-size: 24px;
        line-height: 30px;
    }

    .features{
        flex-direction: column;
        margin-bottom: 80px;
    }

    .features-image{
        width: 50%;
    }

    .features-content{
        padding-right: 0;
    }

    .features-desc{
        text-align: center;
        font-size: 36px;
        line-height: 50px;
    }

    .features-link{
        justify-content: center;
        margin-bottom: 36px;
        font-size: 30px;
    }

    .banners-title{
        text-align: center;
        font-size: 65px;
    }

}
